"/home/quincy/work/ma-core/src/main/resources/db/migration_soft_delete_views_fix.py": "#726161"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/delta/stack/StackNoteDelta.java": "#1E7FD0"
"/home/quincy/work/ma-core/src/main/resources/db/migration/V0.0.1_48__Create_stack_app_configuration_TABLE.sql": "#247D7D"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/data/CoreCollection.java": "#2D6D9D"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/data/CoreContent.java": "#2BC3CA"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/data/CoreTaggable.java": "#853E41"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/data/CoreTagJoin.java": "#BF552B"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/data/CoreJoinCollection.java": "#7EC74E"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/data/flex/FlexSmartList.java": "#806B88"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/data/CoreCollectionManager.java": "#73E824"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/data/flex/FlexSmartListTag.java": "#7B445D"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/abstr/CoreContentJoin.java": "#B0DFDD"
"/home/quincy/work/stack-sfdc/Stack/classes/STKStackBatchController.cls": "#4A6C5F"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/controller/flex/ActivityFeedController.java": "#1AE00A"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/data/Credentials.java": "#70B3D4"
"/home/quincy/work/spring-oauth-example/oauth-server/src/main/java/de/frontierpsychiatrist/example/oauth/domain/JdbcUserDetailsService.java": "#3B88B4"
"/home/quincy/work/spring-oauth-example/oauth-server/src/main/java/de/frontierpsychiatrist/example/oauth/SecurityConfiguration.java": "#EF0D13"
"/home/quincy/work/ma-core/util/tenancy_test_init.sql": "#74B3FE"
"/home/quincy/work/ma-core/src/main/resources/templates/login.html": "#386912"
"/home/quincy/work/ma-core/src/main/resources/templates/success.html": "#69FE4E"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/filter/OAuthFilter.java": "#552F4D"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/config/Oauth2Interceptor.java": "#325687"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/config/OAuth2Interceptor.java": "#574CA6"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/security/SessionTokenExtractor.java": "#19975D"
"/home/quincy/guake-0.8.1/src/guake/terminal.py": "#8DB07B"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/controller/core/CoreContentController.java": "#547501"
"/home/quincy/work/staging-core/src/main/java/com/mobileagility/core/config/OAuthConfiguration.java": "#B9310D"
"/home/quincy/work/staging-core/src/main/java/com/mobileagility/core/config/SecurityConfig.java": "#DEBF83"
"/home/quincy/work/staging-core/src/main/java/com/mobileagility/core/config/WebMvcConfiguration.java": "#671639"
"/home/quincy/work/staging-core/src/main/java/com/mobileagility/core/controller/AuthController.java": "#C7203F"
"/home/quincy/work/staging-core/src/main/resources/log4j.properties": "#C9A8F8"
"/home/quincy/work/staging-core/src/main/java/com/mobileagility/core/data/CoreEntity.java": "#A55923"
"/home/quincy/work/staging-core/src/main/java/com/mobileagility/core/aspect/LoggingAspect.java": "#2178E5"
"/home/quincy/work/staging-core/src/main/java/com/mobileagility/core/security/CustomAuthenticationEntryPoint.java": "#FE3423"
"/home/quincy/work/staging-core/src/main/java/com/mobileagility/core/security/SessionTokenExtractor.java": "#FCAFA1"
"/home/quincy/work/ma-core/util/data/createdummydata.py": "#11942B"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/controller/core/CoreUserController.java": "#5E232F"
"/home/quincy/work/ma-core-oauth/oauth-server/src/main/java/com/mobileagility/core/OAuthConfiguration.java": "#132BC8"
"/home/quincy/work/ma-core-oauth/oauth-server/src/main/java/com/mobileagility/core/SecurityConfiguration.java": "#20FEF7"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/data/Authority.java": "#F2E834"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/util/JdbcWrapper.java": "#E1BD36"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/security/UserDetailsImpl.java": "#07D18F"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/controller/flex/AssignmentController.java": "#279295"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/config/TransactionManagersConfig.java": "#65F08C"
"/home/quincy/work/ma-core/src/main/java/com/mobileagility/core/controller/flex/FlexListController.java": "#B63C0A"
